@model RIP_lab01.UnivesityUnit

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@* <a href="/">Назад</a> *@

<div class="struct-block">
    
    

    <h2 class="struct-name">@Model.Name</h2>
    
    <img src="/@Model.ImgUrl" alt="@Model.ImgUrl" width="100%" class="imgs"/>
    
    <div style="margin: 20px">@Model.Description</div>
    
    @foreach (var person in Model.UniversityEmployees)
    {
        <div class="info-block">
            <div>@person.FullName</div>
            <div>@person.Position</div>
            <div>@person.Number</div>
            <div>@person.Email</div>
        </div>
    }

</div>